<div class="">
            <div class="page-title">
              
            </div>
            <div class="clearfix"></div>
            
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>My Profile</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />

                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sponsor ID </th>
                          <th>{{users.users_id}}</th>
                          <th>Name</th>
                          <th>{{users.user_name}}</th>                          
                        </tr>

                        <tr>
                          <th>Father Name </th>
                          <th>{{users.father_name === '' ? 'None' : users.father_name }}</th>
                          <th>D.O.B</th>
                          <th>{{users.dob}}</th>                          
                        </tr>

                        <tr>
                          <th>Gender </th>
                          <th>{{users.gender}}</th>
                          <th>Address</th>
                          <th>{{users.address}}</th>                          
                        </tr>

                        <tr>
                          <th>Status</th>
                          <th>{{users.state}}</th>
                          <th>Country</th>
                          <th>{{users.country}}</th>                          
                        </tr>

                        <tr>
                          <th>Pincode </th>
                          <th>{{users.pincode}}</th>
                          <th>Mobile No</th>
                          <th>{{users.mobile_no}}</th>                          
                        </tr>

                         <tr>
                          <th>Profile Photo </th>
                          <th><img class="img-responsive" src="../../upload/profile/{{users.profile_pic}}"></th>
                                                 
                        </tr>

                        <tr>
                          <th>Adhar Photo </th>
                          <th><img class="img-responsive" src="../../upload/adhar/{{users.adhar_photo}}"></th>
                          <th>Pan Photo</th>
                          <th><img class="img-responsive" src="../../upload/pan/{{users.pan_photo}}"></th>                       
                        </tr>

                      </thead>
                    </table>
                    
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-success" ng-click="doTheBack()">Back</button>
                          <a ui-sref='user_profile' class="btn btn-success">Edit</a>
                        </div>
                      </div>                    
                  </div>
                </div>

          